<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4 icon_section">
        <i class="fa fa-check-circle-o custom_icon" aria-hidden="true"></i>
      </div>
      <div class="col-md-4 detail_section">
        <div class="row">
          <div class="col-sm-6">
            <span>Category</span>
            <div class="custom_data">Reservation</div>
          </div>
          <div class="col-sm-6">
            <span>Quantity</span>
            <div class="custom_data">
              {{totalQuantity}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 price_section">
        <div class="custom_price">
            <span class="dollar">
              $
            </span>
          <span class="amount">
              {{totalPrice}}
            </span>
        </div>
      </div>
    </div>
  </div>
</div>
